body {
  background-color: #ddd!important;
}

a:not(.btn):not(.search-boy):not(.search-girl) {
  color: #000!important;
}

a:hover {
  text-decoration: none!important;
}

.content-container {
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  min-height: 40em;
  display: table;
}

/** nav **/
.nav-item .active {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.nav-item {
  margin-left: 1em;
}

/** landing **/
.landing-header {
  position: relative;
}

.landing-header-text {
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
  width: 40%!important;
  background-color: rgba(255, 255, 255, .6);
  padding: 3em
}

.navbar {
  margin-bottom: 0!important;
}

/** search **/
.search-header {
  position: relative;
}

.search-header-text {
  z-index: 10;
  position: absolute;
  bottom: 20%;
  background-color: rgba(255, 255, 255, .6);
  padding: 1em;
}

.search-image{
  width: 100%;
}

.search-group {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.search-icon {
  background-color: #eee;
  border: 1px solid;
  display: inline-block;
  line-height: 3em;
  height:10em;
  width:10em;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  text-align: center;
  margin: 1em;
}

.search-icon:hover {
  background-color: #bbb;
  color: white;
  border: 1px solid #aaa;
  cursor: pointer;
}

.search-icon h4 {
  padding-top: 1.3em;
}

.search-icon .glyphicon{
  font-size:3em;
}

.search-girl {
  color: #d16464!important;
}

.search-boy {
  color: #2c59d9!important;
}

/** result **/
.result-container {
  position: relative;
}

.result {
  z-index: 10;
  position: absolute;
  top: 20%;
  background-color: rgba(0, 0, 0, .8);
  width: 50%;
  padding-bottom: 3em;
  text-align: center;
}

.result-girl {
  right: 0;
}

.result-boy {
  left:0;
}

.result-text, .result-text-bigger {
  color: #fff;
  padding: .5em 1em 0 1em;
  margin: 0;
}

.result-text-bigger {
  font-size: 4em;
  font-weight: bolder;
}

.result p {
  font-size: 2em;
  margin-left: 5px;
}

.result-image{
  width: 100%;
  float: right;
}


/**/

footer {
  padding: 1em;
  background-color: darkgrey;
}

@media (max-width: 576px) {
  .main-container {
    width: 100%;
    margin: auto;
  }

  .landing-header-text {
    width: 100%!important;
    margin: auto;
    top: 0;
    left: 0;
    position: relative;
  }

  .result {
    position: relative;
    width: 100%;
  }

  .result-image {
    float: none;
  }
 }
