body {
  background-color: #d9d4c9;
  text-align: center;
  margin: 0;
  font-family: helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.main-container {
  width: 100%;
  margin: 6em auto 0 auto;
}

.background-image {
  width: 60em;
  max-width: 100%;
  margin: auto;
}

.button {
  padding: .5em 1em;
  margin: 0 5px;
  border: 1px solid #a49575;
  border-radius: 5px;
  color: #fff;
}

.girl {
  background-color: #d16464;
}

.boy {
  background-color: #436adb;
}

/** nav **/
.navbar {
  background-color: #a49575;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0;
}

.navbar ul {
  margin: 0;
}

.nav-item {
  display: inline;
  vertical-align: middle;
  padding: 0 2em;
}

.nav-item a{
  color: #fff;
}

.nav-item a:hover {
  color: #ccc;
}

#nav-logo {
  width: 6em;
  padding: 0;
}

/** landing **/
#landing-container {
  position: relative;
  display: flex;
}

.landing-header-text {
  z-index: 10;
  position: absolute;
  top: 15%;
  right:50%;
  width: 15em;
  max-width: 100%;
  background-color: rgba(255, 255, 255, .6);
  padding: 3em
}

#landing-logo {
  width: 10em;
  opacity: .7;
}

/** search **/
.search-header {
  position: relative;
}

.search-header-text {
  z-index: 10;
  position: absolute;
  bottom: 20%;
  right: 50%;
  background-color: rgba(255, 255, 255, .6);
  padding: 1em;
}

.search-group {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.search-icon {
  background-color: #eee;
  border: 1px solid;
  display: inline-block;
  line-height: 3em;
  height:10em;
  width:10em;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  text-align: center;
  margin: 1em;
}

.search-icon:hover {
  background-color: #bbb;
  color: white;
  border: 1px solid #aaa;
  cursor: pointer;
}

.search-icon h4 {
  padding: 0;
  margin-bottom: 5px;
}

.search-icon .material-icons{
  font-size:3em;
}

.search-girl {
  color: #d16464;
}

.search-boy {
  color: #436adb;
}

/** result **/
.result-container {
  position: relative;
}

.result {
  z-index: 10;
  position: absolute;
  top: 15%;
  background-color: rgba(0, 0, 0, .8);
  width: 50%;
  padding-top: 10px;
}

.result-girl {
  right: 0;
}

.result-boy {
  left:0;
}

.result-text, .result-text-bigger {
  color: #fff;
  padding: .5em 1em 0 1em;
  margin: 0;
}

.result-text-bigger {
  font-size: 4em;
  font-weight: bolder;
}

.result p {
  font-size: 2em;
  margin-left: 5px;
}

.result-image{
  width: 100%;
}


/*footer*/
.footer {
  padding: 1em;
  background-color: #a49575;
}

.footer a {
  color: #fff;
}

/**/
@media (max-width: 576px) {
  .landing-header-text {
    width: 100%!important;
    margin: auto;
    top: 0;
    left: 0;
    position: relative;
  }

  .search-header-text {
    position: relative;
    margin-top: 0;
  }

  .result {
    position: relative;
    width: 100%;
  }

  .result-image {
    float: none;
  }
 }
